*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    position: relative;
background-image: url("assets/img/background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center 11%;
height: 700px;
width: 100vw;
}

.box{
    position:absolute;
    top: 0;
    height: 700px;
    width: 100%;
    opacity: 0.6;
    background-color: black;
}
nav {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    padding-left: 50px;
    padding-top: 0px;
    color: red;
    width: 175px;
    position: relative;
    z-index: 10;
}